[Desktop Entry]
Comment=A flatter version of Breeze OSX.
Name=Flat OSX
X-KDE-PluginInfo-Author=Marian Alexander Arlt
X-KDE-PluginInfo-Category=Aurorae theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=marianarlt@icloud.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=Flat OSX
X-KDE-PluginInfo-Version=1.0
